#animate {
  width: 150px;
  height: 150px;
  background: red;
  position: relative;
  -webkit-animation: myfirst 3s infinite;
  -webkit-animation-direction: reverse; 
  animation: myfirst 3s infinite;
  animation-direction: reverse;
} 
  
@-webkit-keyframes myfirst {
  0%   {background: red; left: 0px; top: 0px;}
  25%  {background: yellow; left: 200px; top: 0px;}
  50%  {background: blue; left: 200px; top: 200px;}
  75%  {background: green; left: 0px; top: 200px;}
  100% {background: red; left: 0px; top: 0px;}
} 
  
@keyframes myfirst {
  0%   {background: red; left: 0px; top: 0px;}
  25%  {background: yellow; left: 200px; top: 0px;}
  50%  {background: blue; left: 200px; top: 200px;}
  75%  {background: green; left: 0px; top: 200px;}
  100% {background: red; left: 0px; top: 0px;}
}